{
    "plugins": [
      ["module-resolver", {
        "alias": {
          "~fixtures": "./cypress/fixtures",
          "~support": "./cypress/support"
        },
        "extensions": [".js", ".json"]
      }]
    ]
  }